reports/captura-rollos-2026-09-18/comparacion-antes-despues.html filter=lfs diff=lfs merge=lfs -text
reports/e10-aislado-2026-09-18/informe-final.html filter=lfs diff=lfs merge=lfs -text
export.zip filter=lfs diff=lfs merge=lfs -text
